.app {
  line-height: 1.5;
  text-align: center; }
  @media (max-width: 767px) {
    .app {
      font-size: 14px; } }
  .app h1 {
    font-size: 32px; }

.app-logo {
  align-content: center;
  display: flex;
  height: 100px;
  overflow: hidden;
  padding: 0 20px;
  width: 100px; }
  @media (max-width: 768px) {
    .app-logo {
      height: 60px;
      width: 60px; } }
  .app-logo img {
    max-width: 100%; }

.app-header {
  background: linear-gradient(to right, #282c34, black);
  color: white;
  display: flex;
  height: 100px; }
  @media (max-width: 768px) {
    .app-header {
      height: 60px; } }

nav {
  align-items: center;
  display: flex; }
  nav ul {
    display: flex;
    list-style: none;
    padding-left: 0; }
    nav ul li {
      padding: 15px 25px; }
  nav a {
    color: white;
    text-decoration: none; }

/*# sourceMappingURL=App.css.map */
