$color-blue:#009CDB;
$color-grey: #282c34;

$mob-max: 767px;
$tab-start: 768px;

@mixin content-wide {
  padding: 50px 50px 0 167px;
  text-align: left;

  @media (max-width: $tab-start) {
    padding: 20px;
  }
}

.app {
  line-height: 1.5;
  text-align: center;

  @media (max-width: $mob-max) {
    font-size: 14px;
  }

  h1 {
    font-size: 32px;
  }
}

.app-logo {
  align-content: center;
  display: flex;
  height: 100px;
  overflow: hidden;
  padding: 0 20px;
  width: 100px;

  @media (max-width: 768px) {
    height: 60px;
    width: 60px;
  }

  img {
    max-width: 100%;
  }
}

.app-header {
  background: linear-gradient(to right, $color-grey, black);
  color: white;
  display: flex;
  height: 100px;

  @media (max-width: $tab-start) {
    height: 60px;
  }
}

nav {
  align-items: center;
  display: flex;

  ul {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
      padding: 15px 25px;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}
