@import '../App.scss';

$border-radius: 7px;

.contact-us {
  @include content-wide;

  align-items: flex-start;
  background: linear-gradient(to right, black, $color-grey);
  display: flex;
  flex-direction: column;
  padding-bottom: 120px !important;

  @media (max-width: $tab-start) {
    align-items: stretch;
  }

  h1 {
    color: white;
  }

  .elm-row {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    position: relative;

    @media (max-width: $tab-start) {
      align-items: stretch;
    }

    .form-elm {
      background-color: $color-blue;
      border: 0;
      border-radius: $border-radius;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      padding: 12px 10px 12px 25px;
      transition: background-color 0.25s;
      width: 450px;

      @media (max-width: $tab-start) {
        width: auto;
      }

      &.dirty {
        & + label {
          opacity: 0;
        }
      }

      &.submit-button {
        background-color: $color-blue;
        background-image: linear-gradient(transparent, #01638B);
        border: 1px solid rgba(white, 0.35);
        border-bottom-color: rgba(black, 0.35);
        border-right-color: rgba(black, 0.35);
        color: white;
        cursor: pointer;
        padding: 10px 25px 10px  13px;
        transition: background-color 0.25s, color;
        width: 225px;

        @media (max-width: $tab-start) {
          width: auto;
        }

        &:hover{
          background-color: white;
          background-image: linear-gradient(transparent, $color-blue);
          color: black;
        }
      }


      & + label {
        background-color: $color-blue;
        border-top-left-radius: $border-radius;
        display: block;
        left: 2px;
        padding: 10px 25px 10px  13px;
        position: absolute;
        top: 1px;
        transition: transform 0.25s, opacity 0.25s;
        transform-origin: left bottom;
        z-index: 100;

        &::before,
        &::after {
          border-top-left-radius: $border-radius;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: transform 0.25s, width 0.25s;
          transform-origin: left bottom;
          z-index: -1;
        }

        &::before {
          background-color: rgba(99, 99, 99, 0.5);
          width: 100%;
        }

        &::after {
          background-color: $color-blue;
          width: 100%;
        }
      }

      &:focus, &:active {
        background-color: white;
        outline: none;

        & + label {
          background-color: white;
          transform: rotate(-45deg);

          &::before {
            transform: rotate(10deg) skew(10deg);
            width: 110%;
          }
        }

        &.dirty + label {
          opacity: 1;
        }
      }
    }

    .feedback {
      color: white;
      font-family: inherit;

      &.error {
        color: red;
      }
    }
  }
}

