.app {
  line-height: 1.5;
  text-align: center; }
  @media (max-width: 767px) {
    .app {
      font-size: 14px; } }
  .app h1 {
    font-size: 32px; }

.app-logo {
  align-content: center;
  display: flex;
  height: 100px;
  overflow: hidden;
  padding: 0 20px;
  width: 100px; }
  @media (max-width: 768px) {
    .app-logo {
      height: 60px;
      width: 60px; } }
  .app-logo img {
    max-width: 100%; }

.app-header {
  background: linear-gradient(to right, #282c34, black);
  color: white;
  display: flex;
  height: 100px; }
  @media (max-width: 768px) {
    .app-header {
      height: 60px; } }

nav {
  align-items: center;
  display: flex; }
  nav ul {
    display: flex;
    list-style: none;
    padding-left: 0; }
    nav ul li {
      padding: 15px 25px; }
  nav a {
    color: white;
    text-decoration: none; }

.contact-us {
  padding: 50px 50px 0 167px;
  text-align: left;
  align-items: flex-start;
  background: linear-gradient(to right, black, #282c34);
  display: flex;
  flex-direction: column;
  padding-bottom: 120px !important; }
  @media (max-width: 768px) {
    .contact-us {
      padding: 20px; } }
  @media (max-width: 768px) {
    .contact-us {
      align-items: stretch; } }
  .contact-us h1 {
    color: white; }
  .contact-us .elm-row {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    position: relative; }
    @media (max-width: 768px) {
      .contact-us .elm-row {
        align-items: stretch; } }
    .contact-us .elm-row .form-elm {
      background-color: #009CDB;
      border: 0;
      border-radius: 7px;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      padding: 12px 10px 12px 25px;
      transition: background-color 0.25s;
      width: 450px; }
      @media (max-width: 768px) {
        .contact-us .elm-row .form-elm {
          width: auto; } }
      .contact-us .elm-row .form-elm.dirty + label {
        opacity: 0; }
      .contact-us .elm-row .form-elm.submit-button {
        background-color: #009CDB;
        background-image: linear-gradient(transparent, #01638B);
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-bottom-color: rgba(0, 0, 0, 0.35);
        border-right-color: rgba(0, 0, 0, 0.35);
        color: white;
        cursor: pointer;
        padding: 10px 25px 10px  13px;
        transition: background-color 0.25s, color;
        width: 225px; }
        @media (max-width: 768px) {
          .contact-us .elm-row .form-elm.submit-button {
            width: auto; } }
        .contact-us .elm-row .form-elm.submit-button:hover {
          background-color: white;
          background-image: linear-gradient(transparent, #009CDB);
          color: black; }
      .contact-us .elm-row .form-elm + label {
        background-color: #009CDB;
        border-top-left-radius: 7px;
        display: block;
        left: 2px;
        padding: 10px 25px 10px  13px;
        position: absolute;
        top: 1px;
        transition: transform 0.25s, opacity 0.25s;
        transform-origin: left bottom;
        z-index: 100; }
        .contact-us .elm-row .form-elm + label::before, .contact-us .elm-row .form-elm + label::after {
          border-top-left-radius: 7px;
          content: '';
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          transition: transform 0.25s, width 0.25s;
          transform-origin: left bottom;
          z-index: -1; }
        .contact-us .elm-row .form-elm + label::before {
          background-color: rgba(99, 99, 99, 0.5);
          width: 100%; }
        .contact-us .elm-row .form-elm + label::after {
          background-color: #009CDB;
          width: 100%; }
      .contact-us .elm-row .form-elm:focus, .contact-us .elm-row .form-elm:active {
        background-color: white;
        outline: none; }
        .contact-us .elm-row .form-elm:focus + label, .contact-us .elm-row .form-elm:active + label {
          background-color: white;
          transform: rotate(-45deg); }
          .contact-us .elm-row .form-elm:focus + label::before, .contact-us .elm-row .form-elm:active + label::before {
            transform: rotate(10deg) skew(10deg);
            width: 110%; }
        .contact-us .elm-row .form-elm:focus.dirty + label, .contact-us .elm-row .form-elm:active.dirty + label {
          opacity: 1; }
    .contact-us .elm-row .feedback {
      color: white;
      font-family: inherit; }
      .contact-us .elm-row .feedback.error {
        color: red; }

/*# sourceMappingURL=ContactUs.css.map */
