@import '../App.scss';

section {
  @include content-wide;
  color: white;
  display: flex;
  max-width: 80%;
  width: 1000px;

  @media (max-width: $mob-max) {
    flex-direction: column;
    max-width: 90%;
    padding-right: 0;
  }

  .text {
    flex-basis: 50%;
    padding-right: 50px;

    @media (max-width: $mob-max) {
      padding-right: 0;
    }
  }

  picture {
    flex-basis: 50%;
  }

  img {
    margin-top: 7vw;
    max-width: 100%;
  }
}
