.app {
  line-height: 1.5;
  text-align: center; }
  @media (max-width: 767px) {
    .app {
      font-size: 14px; } }
  .app h1 {
    font-size: 32px; }

.app-logo {
  align-content: center;
  display: flex;
  height: 100px;
  overflow: hidden;
  padding: 0 20px;
  width: 100px; }
  @media (max-width: 768px) {
    .app-logo {
      height: 60px;
      width: 60px; } }
  .app-logo img {
    max-width: 100%; }

.app-header {
  background: linear-gradient(to right, #282c34, black);
  color: white;
  display: flex;
  height: 100px; }
  @media (max-width: 768px) {
    .app-header {
      height: 60px; } }

nav {
  align-items: center;
  display: flex; }
  nav ul {
    display: flex;
    list-style: none;
    padding-left: 0; }
    nav ul li {
      padding: 15px 25px; }
  nav a {
    color: white;
    text-decoration: none; }

section {
  padding: 50px 50px 0 167px;
  text-align: left;
  color: white;
  display: flex;
  max-width: 80%;
  width: 1000px; }
  @media (max-width: 768px) {
    section {
      padding: 20px; } }
  @media (max-width: 767px) {
    section {
      flex-direction: column;
      max-width: 90%;
      padding-right: 0; } }
  section .text {
    flex-basis: 50%;
    padding-right: 50px; }
    @media (max-width: 767px) {
      section .text {
        padding-right: 0; } }
  section picture {
    flex-basis: 50%; }
  section img {
    margin-top: 7vw;
    max-width: 100%; }

/*# sourceMappingURL=Home.css.map */
